/* font styles */

.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* common styles */

.logo-color{
    color:  rgba(78, 71, 255, 1);
}

.subtitle-color{
    color: rgba(37, 36, 50, 0.5);
}

.btn-primary{
     background-color: rgba(78, 71, 255, 1);
    color: white;
    font-weight: 600;
    font-size: 16px;
    padding: 16px 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(78, 71, 255, 0.4);
     transition: all 0.3s ease-in-out; 
    transform: scale(1);
}

.btn-primary:hover {
     background-color: #D6D9FF; 
    color: #2D2E55;
    border: 2px solid #A3A9FF; 
    box-shadow: 0 10px 24px rgba(163, 169, 255, 0.4), 0 0 14px rgba(123, 130, 255, 0.2);
    transform: scale(1.08);
}




/* Navbar Section */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10% 0px 10%;
}

nav p{
    color: rgba(78, 71, 255, 1);
    width: 99; height: 51;
    font-weight: 900;
    font-size:xx-large;
}
nav a{
    text-decoration: none;
    
}

/* section styles */

.section-title{

}

.section-subtitle{
    color: rgba(37, 36, 50, 0.5);

}

/* Banner Section */

.header{
    background-image: url('../B12A01-landing-launchpad/Assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
    
}
header div{
    text-align: center;
    padding: 5%;
}

header div h1{
    font-size: 300%;
}

/* Action Section */

.action-section{

}


/* Productive Users Section */

.productive-users-section{

}



/* Users’ Feedback Section */

.feedback-section{

}


/* Get Started section */

.get-started-section{

}


/* Let’s Get In Touch Section */

.get-in-touch-section{

}


/* Footer Section */

.footer-section{
    
}







/*  */








