/* font styles */

.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}




/* Navbar Section */



/* Banner Section */



/* Action Section */



/* Productive Users Section */



/* Let’s Get In Touch Section */




/* Footer Section */




/* Users’ Feedback Section */




/*  */








