/* font styles */

.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* common styles */

.logo-color{
    color:  rgba(78, 71, 255, 1);
}

.secondary-bg{
    background-color: rgba(37, 36, 50, 1);
}

.subtitle-color{
    color: rgba(37, 36, 50, 0.5);
}

/* section img{ */
    border-radius: 20%;
    
}



body{
    /* max-width: 1440px; */
}



.btn-primary{
     background-color: rgba(78, 71, 255, 1);
    color: white;
    font-weight: 600;
    font-size: 16px;
    padding: 16px 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(78, 71, 255, 0.4);
     transition: all 0.3s ease-in-out; 
    transform: scale(1);
}

.btn-primary:hover {
     background-color: #D6D9FF; 
    color: #2D2E55;
    border: 2px solid #A3A9FF; 
    box-shadow: 0 10px 24px rgba(163, 169, 255, 0.4), 0 0 14px rgba(123, 130, 255, 0.2);
    transform: scale(1.08);
}




/* Navbar Section */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /* padding: 0px 5% 0px 5%; */
}

nav p{
    color: rgba(78, 71, 255, 1);
    width: 99; height: 51;
    font-weight: 900;
    font-size:xx-large;
}
nav a{
    text-decoration: none;
    
}

/* section styles */

.section-title{
    font-size: 200%;
}

.section-subtitle{
    color: rgba(37, 36, 50, 0.5);
    font-size: 100%;

}

/* Banner Section */

.header{
    background-image: url('../B12A01-landing-launchpad/Assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding: 0% 5% 5% 5%;
    
}


header div{
    text-align: center;
    padding: 5%;
}

header div h1{
    
    font-size: 300%;
    
}

main{
    
    margin: 0 auto;
    
}

main section{
    padding: 5% 5% 5% 5%;
}

/* Action Section */

.action-section {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-between;
   /* margin: 10% 10% 10% 10%; */
   gap: 2em;
}

/* Productive Users Section */

.productive-users-section{
text-align: center;
background-color: rgba(78, 71, 255, 0.1);
border-radius: 20px;
box-shadow: 0px 5px 10px 0px rgba(123, 130, 255, 0.2);
margin: 0px 5%;

}

.productive-users-content{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.productive-users{
    /* padding-bottom: 0px; */
}

.productive-users-review{
    color: rgba(78, 71, 255, 1);
    font-size: 80px;
    font-weight:bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Users’ Feedback Section */

.feedback-section h2{
text-align: center;

}

.feedback-container{
    display: flex;
    gap: 24px;
    justify-content: space-around;
}

.users-info{
    display: flex;
    gap: 10px;
    align-items: center;
    
}

.users-feedback{
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(123, 130, 255, 0.2);
    justify-content: space-around;
}



/* Get Started section */

.get-started-section{
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(123, 130, 255, 0.2);
    margin: 0px 5%;
}

.get-started-section div{
    text-align: center;
    justify-content: center;
    padding: 20px;
}


/* Let’s Get In Touch Section */

.get-in-touch-section img{
    border-radius: 10px;
}

.image-configuration{
    border-radius: 50px;
}

/* Footer Section */

.footer-section{
    
}







/*  */








